:host form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

:host form input {
  margin-bottom: 5px;

  :last-child {
    margin-bottom: 0;
  }
}

#submit {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}