<ul class="app-employees">
  <li *ngFor="let employee of employees">
    User ID: {{employee.userId}}
    <br/>
    Job Title Name: {{employee.jobTitleName}}
    <br/>
    First Name: {{employee.jobTitleName}}
    <br/>
    Last Name: {{employee.jobTitleName}}
    <br/>
    Preferred Full Name: {{employee.preferredFullName}}
    <br/>
    Employee Code: {{employee.employeeCode}}
    <br/>
    Region: {{employee.region}}
    <br/>
    Phone Number: {{employee.phoneNumber}}
    <br/>
    Email Address: {{employee.emailAddress}}
  </li>
</ul>